.git
.generated
.pytest_cache
.ruff_cache
.venv
build/*
!build/static-site/
!build/static-site/**
docs_monorepo.egg-info
node_modules
src/code-samples/node_modules

*.pyc
__pycache__

.DS_Store
Dockerfile
docker-compose.yml
